footer{
    height: 250px;
    border-top: 1px solid #cfcfcf;
    color: #838383;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:768px) {

    footer{
        padding: 50px;
       margin-top: 300px;
    }

/* media end */
}