
.sec3{
    padding: 150px;
}

.sec3_conwrap{
    width: 100%;
    height: 550px;
}

.sec3_conbox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec3_con{
    width: 31%;
    height: 100%;
    overflow: hidden;
    transition: .1s;
}

.sec3_con1{background: url(../../img/skating-g2c883eb25_1920.jpg) no-repeat center / cover;}
.sec3_con2{background: url(../../img/skateboard-g28e713ac8_1920.jpg) no-repeat center / cover;}
.sec3_con3{background: url(../../img/skateboard-gf52e0c96f_1920.jpg) no-repeat center / cover;}

.sec3_con1:hover{background: url(../../img/red1.png) no-repeat center / cover;}
.sec3_con2:hover{background: url(../../img/red2.png) no-repeat center / cover;}
.sec3_con3:hover{background: url(../../img/red3.png) no-repeat center / cover;}

.sec3_con:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #979797;
}


@media screen and (max-width:1240px) {

    .sec3{
        padding: 150px 50px;
    }

    .sec3_conwrap{
        height: 450px;
    }

    .sec3 .con_title{
        padding-left: 0;
    }

    .sec3_conwrap{
        height: 400px;
    }


 /*  1240 media end */
}
