.sec4{
    height: 100%;
    padding: 150px;
    box-sizing: border-box;
    background: url(../../img/sec4_bg.png) no-repeat center/ cover;
}

.sec4_contain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec4_con1{
    width: 65%;
}


.slid_btn{
    width: 70px;
    height: 50px;
    background-color: #C1413E;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.slid_btn i{
    color: #fff;
    font-size: 1.1em;
}

.slid_leftarrow{
  border-radius: 50px 0 0 50px;
  position: absolute;
  top: 30px; left: 0;
}

.slid_rightarrow{
    position: absolute;
    top: 30px; left: 100px;
    border-radius: 0 50px 50px 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.slid_wrap{
    width: 100%;
    height: 495px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.slid_in_wrap{
    height: 495px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sec4_con1box{
    width: 310px;
    height: 390px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.sec4_con1box img{
    width: 85%;
}

/* con1 end */

.sec4_con2{
    width: 32%;
    height: 600px;
    background-color: #ba3b52;
}

.sec4_con2bg{
    height: 80%;
    background:  url(../../img/331153726_906096363964101_2273087825780099001_n.jpg) no-repeat center / 90%;
    transform: translateY(50px);
}

.sec4_mocontain{
    display: none;
}



@media screen and (max-width:1400px) {

    .slid_in_wrap{
        height: 395px;
    }
  
    .sec4_con2{
        height: 400px;
    }

    .sec4_con1box{
        height: 290px;
    }
    
/* 1400media end */
}


@media screen and (max-width:1200px) {

    .sec4_mocontain{
        display: block;
    }
    
    .sec4_contain{
        display: none;
    }

    .sec4{
        padding: 150px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .sec4moSwiper{
        width: 100%;
    }

    .sec4 .con_title{
        padding-left: 0;
        text-align: center;
    }

    .sec4_mocon1{
        margin: 0 auto;
        width: 500px;
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#C2363F;
    }

    .sec4_mocon1 img{
        width: 60%;
    }

    .sec4_mocon2{
        margin-top: 20px;
        width: 100vw;
        height: 300px;
        padding-left: 5%;
    }

    .sec4_mocon2_box{
        width: 30%;
        height: 200px;
        background-color: #f1f1f1;
        margin-top: 30px;
  
    }

    .sec4_mocon2_box a{
        display: flex;
        justify-content: center;
    }

    .sec4_mocon2_box img{
        height: 100%;
        width: auto;
    }

    .sec4 .swiper .swiper-pagination {
        position: absolute;
        top: 0 !important;
    }






    
/* 1200media end */
}
